<div class="container">
    <mat-card class="item-details">
        <mat-card-header>
            <mat-card-title> Item Name {{ itemName }} </mat-card-title>
            <mat-card-subtitle> Details of {{ itemName }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
        </mat-card-content>
    </mat-card>
</div>